@charset "utf-8";
/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */


/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:1;
    display:none;
}
/* The slices in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:50;
    height:100%;
}
/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    opacity:0.8; /* Overridden by captionOpacity setting */
    width:100%;
    z-index:89;
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top: 50%;
    margin-top: -37.5px;
    z-index:99;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...)
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
*/


/*
 * Note: Include the nivo-slider.css file that comes
 * with the main download before including this file.
 */

#slider {
    position:relative;
    margin:0px 0px 35px 0px;
    background:#202834 url(./images/loading.html) no-repeat 50% 50%;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
}

.nivo-controlNav {
    position:absolute;
    margin-left:auto;
    bottom:10px;
    right:10px;
    z-index:60;
}
/* .nivo-controlNav_sub {
	position:absolute;
	bottom:50px;
	margin-left:auto;
	left:46%;
	z-index:60;
} */

.nivo-controlNav a {
    display:block;
    width:10px;
    height:10px;
    background:url(./image/user/common/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    float:left;
    cursor:pointer;
}
.nivo-controlNav a.active {
    background-position:-9px 0;
}

.nivo-directionNav a {
    display:block;
    width: 30px;
    height: 75px;
    opacity: 0.8;
    text-indent:-9999px;
    border:0;
}

a.nivo-nextNav {
    background: url(./image/btn/slider_next.png) center no-repeat;
    right: 0;
}
a.nivo-prevNav {
    background: url(./image/btn/slider_prev.png) center no-repeat;
    left: 0;
}

.nivo-caption a {
    text-decoration:none;
    color:#cac1b4;
}

.forprint {
    display:block;
}

.forprint img{
    width:45%;
    margin:10px;
}

.unprint {
    display: none;
}